.t-block-container {
  flex: 1;
  width: 100%;
  background:rgb(25, 27, 31);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 0.5rem;
  padding-bottom: 20px;
  .t-header-block {
    padding: 20px 24px;
    height: 60px;
    border-bottom: 1px solid rgba(42, 42, 66, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    .right {
      display: flex;
      gap: 10px;
      .tab-item {
        padding: 15px 5px;
        border-bottom: none;
        border-top: none;
        cursor: pointer;
        &.active {
          border-bottom: 2px solid;
        }
      }
    }
  }
  .t-body-block {
    // overflow: scroll;
  }
}